a:link {
    color: red;
}

a:visited {
    color: gray;
}

a:hover {
    color: #b30007;
}

span {
    display: block;
    padding-left: 4px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.h2 {
    font-size: 34px;
    text-shadow: red 2px 2px;
    text-align: center;
    line-height: 1;
    display: block;
}

.list {
    list-style-type: disc;
}

.list li {
    padding-bottom: 4px;
}