a:link {
    color: red;
}

a:visited {
    color: gray;
}

a:hover {
    color: #b30007;
}

span {
    display: block;
    padding-left: 4px;
}

.contacts {
    border-left: red solid 2px;
    margin-bottom: 110px;
    padding: 13px 0;
    font-size: 24px;
    text-align: left;
}

.image-glass {
    position: relative;
}

.glass-1 {
    position: absolute;
    width: 43px;
    top: -7px;
    left: 169px;
}

.glass-2 {
    position: absolute;
    width: 43px;
    top: -7px;
    left: 323px;
}

.person-info {
    border-left: red solid 2px;
}

.skills {
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.experience {
    border-left: red solid 2px;
    margin-bottom: 10px;
    text-align: center;
}

.education {
    border-left: red solid 2px;
    text-align: center;
}

.table-row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 10px;
}

.table-column {
    padding: 10px;
    margin-left: 5px;
    text-align: center;
    flex: 1;
    border-bottom: red solid 1px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.section-1, .section-2 {
    flex-basis: 45%;
    text-align: center;
    margin: 5px 5px;
}

.h2 {
    font-size: 34px;
    text-shadow: red 2px 2px;
    text-align: center;
    margin-bottom: 5px;
}

.list {
    list-style-type: disc;
}

.list li {
    padding-bottom: 4px;
}