.header-image {
    background-image: url("https://vlaskiri.github.io/cv-new/assets/image/Everest.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.avatar {
    padding: 1px 1px 1px 1px;
    display: block;
    width: 250px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 100px;
    letter-spacing: 15px;
    text-shadow: black 3px 3px;
}

.header span {
    width: 310px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 55px;
    color: black;
    text-shadow: red 1px 1px;
}