.header-image {
    background-image: url("/assets/image/Everest.jpg");
    /*height: 200px;*/
    margin-top: -260px;
    /*padding-bottom: 20px;*/
}

.avatar {
    margin: 5px 447px;
    padding: 250px 1px 1px 1px;
    display: block;
    width: 300px;
}

.header-h1 {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    margin-top: -120px;
    margin-left: -110px;
    margin-right: -110px;
    letter-spacing: 15px;
    text-shadow: black 3px 3px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 55px;
    color: black;
    text-shadow: red 1px 1px;
}

/*h1::after {*/
/*    content: "";*/
/*    margin-right: 35%;*/
/*    margin-left: 35%;*/
/*    margin-bottom: 2px;*/
/*    padding: 2px 0 1px 0;*/
/*    background-color: red;*/
/*    display: flex;*/
/*}*/