.header-image {
    background-image: url("/assets/image/Everest.jpg");
    height: 300px;
}

.avatar {
    margin: auto;
    display: block;
    width: 300px;
}

.header-h1 {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    margin-top: -160px;
    letter-spacing: 15px;
}