body {
    background-color: #232121;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.cv {
    max-width: 1200px;
    margin: 0px auto;
    border: red solid;

}

.main {
    display: flex;
    gap: 100px;
    align-items: center;
}

.contacts {
    border-left: red solid 2px;
    margin-bottom: 110px;
    padding: 13px 0;
    font-size: 24px;
    text-align: left;
}

.image-glass {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5px;
    gap: 10px;
}

.glass-1 {
    width: 43px;
    top: -7px;
    left: 169px;
}

.glass-2 {
    width: 43px;
    top: -7px;
    left: 323px;
}

.person-info {
    border-left: red solid 2px;
}

.skills {
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.experience {
    border-left: red solid 2px;
    margin-bottom: 10px;
    text-align: center;
}

.education {
    border-left: red solid 2px;
    text-align: center;
}

.table-row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 10px;
}

.table-column {
    padding: 10px;
    margin-left: 5px;
    flex: 1;
    border-bottom: red solid 1px;
}

.section-left, .section-right {
    flex-basis: 45%;
    text-align: center;
    margin: 5px 5px;
}


@media (max-width: 1024px) {
    .main {
        display: block;
        text-align: center;
    }

    .contacts {
        margin-bottom: 10px;
        text-align: center;
    }

    .avatar {
        display: none;
    }

    h1 {
        margin-top: 0px;
    }

}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 38px;
        margin: 0px auto;
        width: auto;
    }

}