body {
    background-color: #232121;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.cv {
    max-width: 1200px;
    margin: 0px auto;
    border: red solid;

}

.main {
    display: flex;
    gap: 100px;
    align-items: center;
}