body {
    background-color: #232121;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.cv {
    max-width: 1200px;
    margin: 0px auto;
    border: red solid;

}

.main {
    display: flex;
    gap: 100px;
    align-items: center;
}

@media (max-width: 1024px) {
    .main {
        display: block;
        text-align: center;
    }

    .header-h1 {
        display: block;
        text-align: center;
        font-size: 68px;
    }

    .avatar {
        display: none;
    }

}